.font-Cookie{
    font-family: 'Cookie';
}

#pngSfondo{
    position: fixed;
    left: 5rem;
    top: 8rem;
    color: #272727;
    font-size: 30rem;
    overflow: hidden;
    z-index:-10;
}

#movimentiInseriti label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}

#movimentiInseriti h6{
    margin-top: 0.75rem;
}